<div class="container">
  <h2> Lista de Agendamentos</h2>

  <button class="btn btn-primary" (click)="novoAgendamento()">
    + Novo Agendamento
  </button>

  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Expressão CRON</th>
        <th>Status</th>
        <th>Última Execução</th>
        <th>Próxima Execução</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.nome }}</td>
        <td>{{ job.cronExpression }}</td>
        <td>
          <span class="badge bg-success" *ngIf="job.status === 'AGENDADO'">Agendado</span>
          <span class="badge bg-warning" *ngIf="job.status === 'PROCESSANDO'">Processando</span>
          <span class="badge bg-danger" *ngIf="job.status === 'ERRO'">Erro</span>
          <span class="badge bg-info" *ngIf="job.status === 'CONCLUIDO'">Concluído</span>

        </td>
        <td>{{ job.ultimaExecucao || '-' }}</td>
        <td>{{ job.proximaExecucao || '-' }}</td>
        <td class="text-center">
          <a class="btn btn-sm btn-primary me-1" [routerLink]="['/jobs/editar', job.id]">
            <i class="bi bi-pencil"></i>
          </a>
          <a class="btn btn-sm btn-info text-white me-1" [routerLink]="['/jobs/detalhes', job.id]">
            <i class="bi bi-eye"></i>
          </a>
          <button class="btn btn-sm btn-danger" (click)="deletarJob(job.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

